fastapi>=0.110.0,<1.0.0
python-dotenv>=1.0.0,<2.0.0
pydantic-settings>=2.0.0,<3.0.0
uvicorn[standard]>=0.27.0,<1.0.0
weaviate-client>=4.9.6,<5.0.0
sentence-transformers>=3.0.1,<4.0.0
httpx>=0.27.0,<1.0.0
requests>=2.31.0,<3.0.0
passlib[bcrypt]>=1.7.4,<2.0.0
bcrypt==4.0.1
PyJWT>=2.8.0,<3.0.0
